name: Aqua
on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@latest
        with:
          version: 'lts'
      - name: Aqua.jl
        run: julia --color=yes -e 'using Pkg; Pkg.add("Aqua"); Pkg.develop(path=".");
                                   using Aqua, NonparametricVecchia; Aqua.test_all(NonparametricVecchia)'
