name: CI

on:
  push:
    branches:
      - master
    tags: '*'
  pull_request:
    types: [opened, synchronize, reopened]
  schedule:
    - cron: '0 0 * * 0'

jobs:
  test-moonshot:
    runs-on: moonshot
    strategy:
      matrix:
        os: [ubuntu-24.04]
        julia-version: ['1.10', '1.11']
        julia-arch: [x64]
        hsl-version: ['2025.7.21']

    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@latest
        with:
          version: ${{ matrix.julia-version }}
          arch: ${{ matrix.julia-arch }}
      - uses: julia-actions/julia-buildpkg@latest
      - name: Set HSL_VERSION as environment variable
        run: echo "HSL_VERSION=${{ matrix.hsl-version }}" >> $GITHUB_ENV
      - name: Install HSL_jll.jl
        shell: julia --color=yes {0}
        run: |
          using Pkg
          Pkg.activate(".")
          path_HSL_jll = "/scratch/github-actions/actions_runner_hsl/HSL_jll.jl.v" * ENV["HSL_VERSION"]
          Pkg.develop(path=path_HSL_jll)
      - name: Test VecchiaMLE.jl
        shell: julia --color=yes {0}
        run: |
          using Pkg
          Pkg.develop(path=".")
          Pkg.test("VecchiaMLE")
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v5
        with:
          file: lcov.info
